.title {
  background: url(images/hellogif.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  height: 640px;
}

.subtitle {
  width: 100%;
  position: relative;
  top: 350px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin: 0px;
}

.subtitle h1 {
  font-size: 64px;
  font-weight: 700;
  padding: 0px;
  margin: 8px;
  letter-spacing: 32px;
  margin-left: 0px;
  margin-right: -32px;
  color: #020202;
  text-align: center;
}

.subtitle img {
  width: 350px;
  height: 350px;
  border-radius: 300px;
}

.container {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container p {
  font-weight: 100;
  font-size: 20px;
  margin: 32px 64px 64px 64px;
}

.container h2 {
  font-size: 36px;
  font-weight: 700;
  margin: 40px 64px 32px 64px;
}

.container b:hover {
  cursor: pointer;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

#about {
  width: 600px;
  height: 500px;
  background: #f2f2f2;
  margin: 32px;
}

#about p {
  letter-spacing: 1px;
}

#about b {
  letter-spacing: 4px;
}

#albums {
  width: 600px;
  height: 500px;
  background: #f2f2f2;
  margin: 32px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.album-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0px 64px 32px 64px;
}

.album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#albums img {
  width: 130px;
  height: 130px;
  margin: 0px 16px 8px 16px;
  cursor: pointer;
}

.album h3 {
  margin: 0px;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}

.album p {
  margin: 0px;
  font-size: 12px;
  font-weight: 100;
  cursor: pointer;
}

/* -----song list----- */

#sort {
  width: 600px;
  margin: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#sort h2 {
  padding: 0px;
  margin: 0px;
  letter-spacing: 4px;
}

#sort-button button {
  position: relative;
  font-size: 20px;
  background: #f2f2f2;
  border: none;
  border-radius: 20px;
  padding: 8px 16px 8px 16px;
  font-weight: bold;
  transition: 250ms;
}

#sort-button button:hover {
  cursor: pointer;
  background: #adadad;
  transition: 250ms;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 5px;
  position: relative;
}
.down {
  transform: rotate(45deg);
  position: relative;
  bottom: 3px;
  left: 4px;
}

.songs {
  width: 600px;
  margin: 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.songs img {
  height: 64px;
  width: 64px;
  cursor: pointer;
}

.songs h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0px 16px 0px 8px;
  cursor: pointer;
}

.songs h2 {
  font-size: 24px;
  font-weight: 100;
  margin: 0px;
}

.songs h3 {
  font-size: 32px;
  font-weight: bold;
  margin: 0px 16px;
}

.songs p {
  font-size: 24px;
  font-weight: 400;
  margin: 0px 8px;
}

.song_album {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.category {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 8px;
}

.choice {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: #f2f2f2;
  margin: 4px 0px 4px 0px;
  padding: 4px 0px;
  transition: 250ms;
}

.choice:hover {
  cursor: pointer;
  background: #adadad;
  transition: 250ms;
}

.song-button button {
  background: white;
  border: none;
  border-radius: 20px;
  text-align: end;
  font-size: 16px;
  font-weight: bold;
  padding: 8px 12px 8px 8px;
  margin: 8px 0px;
  transition: 250ms;
}

.song-button button:hover {
  cursor: pointer;
  transition: 250ms;
  background: #adadad;
}

.right {
  transform: rotate(-45deg);
  position: relative;
  left: 3px;
  padding: 4px;
}
